mixin bit()
  section(data-component='bit')
    iframe(src="https://www.bandsintown.com/artist/copia/track_button?size=small&display_tracker_count=true&text_color=%23000000&background_color=%23fef5eb&hover_color=%23253445", height="25", width="155", scrolling="no", frameborder="0", style="border:none; overflow:hidden;", allowtransparency="true")
