mixin home(props)
  section#home(data-component='home', aria-hidden='true')
    .inner
      .inner-col-1
        img(src=props.featuredAlbum.img.url, alt=props.featuredAlbum.img.alt)
      .inner-col-2
        h2!=props.featuredAlbum.text
        each link in props.featuredAlbum.btn
          a.pre-btn(href=link.url, target='_blank')!=link.text
