mixin hero (props)
  section(data-component='hero', aria-hidden='true', style='background-image: url("' + props.bg + '")', data-loaded="false")
    div
      .hero-logo-container
        img.hero-logo(src=props.url)
        img.hero-logo-glitch.violet(src=props.urlViolet)
        img.hero-logo-glitch.green(src=props.urlGreen)
