/* Navigation component styling and structure */

@custom-media --navigation-breakpoint-1 (width >= 64em);

[data-component=navigation] {
  & ul {
    padding: 0;
    margin: 0 auto;
    max-width: 40em;
    list-style: none;
    text-align: center;
    & > li {
      display: inline-block;
      margin: 0;
      padding: 0;
      & > a {
        text-decoration: none;
        display: block;
        padding: .5em;
        color: #fef5eb;
        font-weight: bold;
        &:focus {
          outline: 0;
        }
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
