/* Tour component styling and structure */

@keyframes tourFadeIn {
  from {
    opacity: 0;
  }
}

@custom-media --tour-breakpoint-1 (width >= 64em);
@custom-media --tour-breakpoint-2 (width < 64em);

[data-component=tour] {
  &[aria-hidden=true] {
    display: none;
  }
  & .tour-title {
    margin: 0 auto;
    max-width: 46em;
    & h2 {
      margin: 0 0 .5em;
    }
  }
  & .loading-content {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 2em;
  }
  &.loading {
    & .loading-content {
      display: block;
    }
    & .tour-content {
      display: none;
    }
  }
  &.loaded {
    & .tour-content .tour-row {
      animation-name: tourFadeIn;
      animation-iteration-count: 1;
      animation-duration: .5s;
      animation-timing-function: ease;
      animation-fill-mode: backwards;
    }
  }
  & .tour-content {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 2em 2em .5em;
    & .tour-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 1em;
        border-bottom: 1px solid #666;
      }

      @media (--tour-breakpoint-1) {
        flex-direction: row;
        justify-content: space-between;
      }
      @media (--tour-breakpoint-2) {
        flex-wrap: wrap;
        align-items: center;
      }
      & > div {
        padding-bottom: 1.5em;
        padding-top: .5em;
      }
      & .tour-date {
        text-transform: uppercase;
        @media (--tour-breakpoint-1) {
          flex-basis: 10%;
        }
        & > div {
          @media (--tour-breakpoint-1) {
            display: inline-block;
            width: 100%;
          }
        }
        & .date {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      & .tour-venue {
        @media (--tour-breakpoint-1) {
          flex-basis: 30%;
        }
      }
      & .tour-location {
        @media (--tour-breakpoint-1) {
          flex-basis: 30%;
        }
        & > a {
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
      & .tour-actions {
        text-align: right;
        & > a {
          display: inline-block;
          padding: .5em 1em;
          background-color: #c5a78b;
          color: #fef5eb;
          text-decoration: none;
          font-weight: bold;
          transition: background-color .2s ease;
          &:not(:last-child) {
            margin-right: .2em;
          }
          &:focus {
            outline: 0;
          }
          &:hover,
          &:focus {
            background-color: #9e8064;
          }
        }
      }
      & > div {
        display: flex;
      }
    }
  }
}
