mixin logo(props)
  div(data-component='logo')
    svg.logo
      use(xlink:href=props.url)
    svg.logo-under
      use(xlink:href=props.url)
    svg.logo-under.logo-under-2
      use(xlink:href=props.url)
