mixin sms(props)
  section#sms(data-component='sms', aria-hidden='true', data-loaded="false")
    .inner
        h2!=props.title
        p!=props.body
        ul.nums-container
          each num in props.numbers
            li
              a.pre-btn(href='tel:' + num.phone, target='_blank')= num.title + ': ' + num.phone
