/* Home component styling and structure */

@custom-media --home-breakpoint-1 (width >= 64em);
@custom-media --home-breakpoint-2 (width < 64em);

@keyframes smsFadeIn {
  from {
    opacity: 0;
  }
}

@keyframes smsScaleIn {
  from {
    transform: scale(0);
  }
  65% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(.85);
  }
}

[data-component=sms] {
  &[aria-hidden=true] {
    display: none;
  }
  & .inner {
    padding: 2em;
    margin: 0 auto;
    width: 100%;
    position: relative;
    max-width: 50em;
    min-height: 10em;
    background-color: rgba(0, 0, 0, .6);
    animation-name: smsFadeIn, smsScaleIn;
    animation-duration: 1.5s, .6s;
    animation-timing-function: ease, ease;
    animation-fill-mode: backwards, backwards;
    animation-iteration-count: 1, 1;
    animation-delay: .9s, .9s;
    &:after {
      display: block;
      content: ' ';
      position: absolute;
      bottom: 0;
      height: .2em;
      width: 40%;
      left: 30%;
      background-color: rgba(255,255,255, 0.3);
    }
    & h2 {
      text-transform: uppercase;
      margin: 0 0 1em;
      text-align: center;
    }
    & p {
      line-height: 1.4;
      text-align: center;
      max-width: 30em;
      margin: 0 auto 1em;
    }
    & .nums-container {
      display: block;
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      max-width: 34em;
    }
    & .nums-container > li {
      display: inline-block;
    }
    & .pre-btn {
      display: inline-block;
      padding: .75em;
      margin: .25em;
      vertical-align: middle;
      text-decoration: none;
      text-align: center;
      color: #c5a78b;
      border: 1px solid #c5a78b;
      font-weight: bold;
      transition: background-color .2s ease;
      &:focus {
        outline: 0;
      }
      &:hover,
      &:focus {
        background-color: #9e8064;
        color: #fef5eb;
      }
      &:not(:first-child) {
        margin-bottom: .5em;
      }
    }
    & .inner-col-2 {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
