mixin video(props)
  section#video(data-component='video', aria-hidden='true', data-loaded="false")
    .inner
      .inner-col-1
        .video-container
          iframe(width="560" height="315" src=props.src frameborder="0" allowfullscreen)
