@import '../logo/';

/* Home component styling and structure */

@custom-media --home-breakpoint-1 (width >= 64em);
@custom-media --home-breakpoint-2 (width < 64em);

@keyframes videoFadeIn {
  from {
    opacity: 0;
  }
}

@keyframes videoScaleIn {
  from {
    transform: scale(0);
  }
  65% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(.85);
  }
}

[data-component=video] {
  &[aria-hidden=true] {
    display: none;
  }
  & .inner {
    display: flex;
    padding: 2em;
    margin: 0 auto;
    width: 100%;
    max-width: 50em;
    min-height: 10em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .6);
    animation-name: videoFadeIn, videoScaleIn;
    animation-duration: 1.5s, .6s;
    animation-timing-function: ease, ease;
    animation-fill-mode: backwards, backwards;
    animation-iteration-count: 1, 1;
    animation-delay: 1.1s, 1.1s;
    & > div {
      display: flex;
      align-items: center;
      flex-basis: 100%;
    }
    & .video-container {
      width: 100%;
      position: relative;
      padding-bottom: 51.65%;
      & > iframe {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
