/* Video component styling and structure */

@custom-media --home-breakpoint-1 (width >= 40em);
@custom-media --home-breakpoint-2 (width < 40em);

[data-component=video] {
  &[aria-hidden=true] {
    display: none;
  }
  & .inner {
    display: flex;
    padding: 2em;
    margin: 0 auto;
    width: 100%;
    max-width: 50em;
    min-height: 10em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .6);

    & > div {
      display: flex;
      align-items: center;
      flex-basis: 100%;
    }
    & .video-container {
      width: 100%;
      position: relative;
      padding-bottom: 51.65%;
      & > iframe {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
